<h1>{{title}}</h1>

<h3>{{header}}</h3>
<div *ngIf="!displayEdit">
  <b>Name:</b>  {{user.name}} <br>
  <b>Age:</b>   {{user.age}} <br>
  <b>Favorite Color:</b>    {{user.favoriteColor}} <br>
  <b>Verified:</b>    {{user.isVerified === true ? "Yes" : "No"}}
</div>
<div *ngIf="displayEdit">
  <form #editForm="ngForm" (ngSubmit)="saveChanges(formUser.name, formUser.age, formUser.favoriteColor, formUser.isVerified)">
    <label style="padding:5px" for="name">What is your name?</label>
    <input name="name" id="name" [(ngModel)]="formUser.name"><br>

    <label style="padding:5px" for="age">What is your age?</label>
    <input name="age" id="age" [(ngModel)]="formUser.age"><br>

    <label style="padding:5px" for="favoriteColor">What is your favorite color?</label>
    <input name="favoriteColor" id="favoriteColor" [(ngModel)]="formUser.favoriteColor"><br>

    <label style="padding:5px" for="isVerified">Are you verified?</label>
    <input style="padding:5px" type="checkbox" name="isVerified" id="isVerified" [(ngModel)]="formUser.isVerified"><br><br>
    <button style="padding:5px" type="submit">Save Changes</button>
  </form>
</div>
<br>

<button style="padding:5px" (click)="toggleEdit()">
  Toggle Edit
</button>